*{ 
margin:0px;
padding:0px;
font-family: Georgia;
}

body{
		margin:0px;
	padding:0px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

.clear{
	clear:both;
}

#container {
	width: 1024px;
	margin: auto;
}

header{
	width: 1024px;
	height: 150px;
	margin-top:-5px;
	border-bottom-right-radius:10px; 
	border-bottom-left-radius:10px; 
	height:150px;
	background: rgb(102,102,102); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

#headerTop{
	height:50px;
	border-bottom-right-radius:10px; 
	border-bottom-left-radius:10px; 
	background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(214,214,214,1) 99%, rgba(160,216,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(99%,rgba(214,214,214,1)), color-stop(100%,rgba(160,216,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
}
h1{
	line-height: 50px;
	color:rgba(192,192,192,1);
}

#headerTopLinks{
	float:right;
	margin:15px;
}

#headerTopLinks a{
	margin-right: 10px;
	text-decoration: none;
	color:#000000;
}

#headerTopLinks form{
	float:left;
	margin-right:10px;
}

#headerBot h1{
	float:left;
	margin-left:20px;
}

#shoppingCart{
	border-radius:2px;
	height:70px;
	width:300px;
	margin:12px;
	background-color:#000000;
	border:1px solid #555555;
	float: right;
}

#shoppingCart div{
	float:left;
	margin-top:25px;
	margin-left:10px;
	color:white;
}

#shoppingCart img{
	margin:10px;
	float:right;
}

/******************************/

#contentWrapper{
	background-color:white;
	margin-top:15px;
	border-radius:10px;
	min-height:800px;
	width:1024px;
}


#leftside {
	float:left;
	width:200px;
}

#leftMenu
{
	display:block;
	margin-top:20px;
	padding-left:10px;
	width:190px;
}

#leftMenu, #leftMenu li {
	list-style: none;
}

#leftMenu li:first-child{
	border-top:1px solid #000000;
}

#leftMenu li {
	height:30px;

	background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	border-bottom:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
}


#leftMenu a {
	display:block;
	width:100%;
	padding:5px;
	margin-left:4px;
	text-decoration: none;
	color:white;
	
}


#leftMenu li:hover{
	background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(214,214,214,1) 99%, rgba(160,216,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(99%,rgba(214,214,214,1)), color-stop(100%,rgba(160,216,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
}

#leftMenu li:hover > a{
	color:#000000;
}

#leftMenu .subItem a{
	margin-left:50px;
	color:black;
	
}

#leftMenu .subItem {
  	background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(214,214,214,1) 99%, rgba(160,216,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(99%,rgba(214,214,214,1)), color-stop(100%,rgba(160,216,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
}

#leftMenu .subItem:hover{
	background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#leftMenu .subItem:hover > a{
	color:#FFFFFF;
}


#item_list {
	width: 800px;
}

#item_list:nth-child(2) {
	border: 1px solid black;
}

.item_image, .item_image img {
	width: 200px;
	height: 200px;
}

.item_price_table {
	width: 50px;
}

.item_description {
	width: 500px;
}

button{
	width:80px;
	border-radius:5px;
		background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(214,214,214,1) 99%, rgba(160,216,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(99%,rgba(214,214,214,1)), color-stop(100%,rgba(160,216,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(214,214,214,1) 99%,rgba(160,216,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
}



#content {
	float:left;
	width:800px;
	margin:10px;
	margin-top:20px;
	border:1px solid black;
}

/****/

#contact {
	margin: 10px;
}

#contact form textarea {
	height: 200px;
	width: 296px;
	resize: none;
}

#contact form input {
	height: 20px;
	width: 300px;
}

#contact form button {
	float: right;
}

footer {
	clear: both;
	text-align:center;
}

table tr.separator {
	height: 15px;
}

#viewOrders{
	margin-left:100px;
}

.tableviewOrders{
	margin:20px;
}

.innerTableViewOrders{
	border-collapse:collapse;
}

.innerTableViewOrders tr:first-child{
	height:40px;
	border-radius:10px;
}

.innerTableViewOrders tr{
	border:2px solid black;
}

.innerTableViewOrders td{
	border-left:2px solid black; 
	text-align:center;
	min-width:100px;
}

.innerTableViewOrders a{
	width:130px;
}
.innerTableViewOrders img{
	height:80px;width:60px;
}
.innerTableViewOrders a,.innerTableViewOrders img{
	float:left;
}

/**************errorDiv*******************/

#error{
	color:red;
}

/**************shoppingCart*******************/

#shoppingcart{
	margin-left: 100px;
}


#shoppingcart table{
	width:80%;
	border-collapse:collapse;
	
}

#shoppingcart tr:last-child{
	border-bottom:none;
}

#shoppingcartImgTD{
	width:80px;
	
}

.cartHeader,.cartHeaderLeft,.cartHeaderRight{
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	
	background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	
	color:#FFFFFF;
}

.cartHeaderLeft{
	border-left:1px solid #000000;
	
}
.cartHeaderRight{
	border-right:1px solid #000000;
}

.cart{
	border-bottom:1px solid black;
}

.cartLeft{
	border-bottom:1px solid black;
	border-left:1px solid black;
}

.cartRight{
	border-bottom:1px solid black;
	border-right:1px solid black;
}
.cartTotal{
	border-bottom:1px solid black;
	border-right:1px solid black;
	border-left:1px solid black;
}
#shoppingcartAmountTD{
	width:80px;
}

#shoppingcart td{
	text-align:center;
	padding:10px;

}

#shoppingcart img{
	height:80px;
	width:80px;
}

#shoppingcart input{
	width:30px;
}

#shoppingcart a{
	color:red;
	text-decoration:none;
}

