*, #leftMenu:not{
margin:0px;
padding:0px;
}

body {
	width: 1024px;
	margin: auto;
}

header {
	width: 1024px;
	height: 140px;
	background-color: #AAAAAA;
}

header span {
	width: 2000px;
	height: 2000px;
	margin-top: 50px;
}

header span a {
	font-size: 50px;
}

#topMenu {
	float: right;
	margin: 40px;
	margin-top: 50px;
}
#topMenu a {
	margin-left: 10px;
	text-decoration: none;
	color: #000000;
}

#leftside {
	padding-top: 16px;
	width: 200px;
	height: 800px;
	background-color: #AAAAAA;
	float: left;
}

#leftMenu, #leftMenu li {
	list-style: none;
}
#leftMenu {
	margin-top: 20px;
}

#leftMenu a {
	text-decoration: none;
	color: #000000;
}

#item_list {
	width: 800px;
}

#item_list:nth-child(2) {
	border: 1px solid black;
}

.item_image, .item_image img {
	width: 200px;
	height: 200px;
}

.item_price_table {
	width: 50px;
}

.item_description {
	width: 500px;
}

#content {
	width: 740px;
	float: left;
}

#contact {
	margin: 10px;
}

#contact form textarea {
	height: 200px;
	width: 296px;
	resize: none;
}

#contact form input {
	height: 20px;
	width: 300px;
}

#contact form button {
	float: right;
}

footer {
	clear: both;
	text-align:center;
}

table tr.separator {
	height: 15px;
}

#viewOrders{
	margin-left:100px;
}

.tableviewOrders{
	margin:20px;
}

.innerTableViewOrders{
	border-collapse:collapse;
}

.innerTableViewOrders tr:first-child{
	height:40px;
	border-radius:10px;
}

.innerTableViewOrders tr{
	border:2px solid black;
}

.innerTableViewOrders td{
	border-left:2px solid black; 
	text-align:center;
	min-width:100px;
}

.innerTableViewOrders a{
	width:130px;
}
.innerTableViewOrders img{
	height:80px;width:60px;
}
.innerTableViewOrders a,.innerTableViewOrders img{
	float:left;
}

/**************errorDiv*******************/

#error{
	color:red;
}

/**************shoppingCart*******************/

#shoppingcart{
	margin-left: 100px;
}


#shoppingcart table{
	width:80%;
	border-collapse:collapse;
	
}

#shoppingcart tr:last-child{
	border-bottom:none;
}

#shoppingcartImgTD{
	width:80px;
	
}

.cartHeader,.cartHeaderLeft,.cartHeaderRight{
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	background-color:#DDDDDD;
}

.cartHeaderLeft{
	border-left:1px solid #000000;
	
}
.cartHeaderRight{
	border-right:1px solid #000000;
}

.cart{
	border-bottom:1px solid black;
}

.cartLeft{
	border-bottom:1px solid black;
	border-left:1px solid black;
}

.cartRight{
	border-bottom:1px solid black;
	border-right:1px solid black;
}
.cartTotal{
	border-bottom:1px solid black;
	border-right:1px solid black;
	border-left:1px solid black;
}
#shoppingcartAmountTD{
	width:80px;
}

#shoppingcart td{
	text-align:center;
	padding:10px;

}

#shoppingcart img{
	height:80px;
	width:80px;
}

#shoppingcart input{
	width:30px;
}

#shoppingcart a{
	color:red;
	text-decoration:none;
}
