 *, #leftMenu:not{
	margin:0px;
	padding:0px;
}

body{
	width:1024px;
	margin:auto;
}

header{
	width:1024px;
	height:140px;
	background-color:#AAAAAA;
}

header span{
	width:2000px;
	height:2000px;
	margin-top:50px;
}

header span a{
	font-size:50px;
}

#topMenu{
	float:right;
	
	margin:40px;
	margin-top:50px;
}
#topMenu a{
	margin-left:10px;
	text-decoration:none;
	color:#000000;
}

#leftside{
	padding-top:16px;
	width:200px;
	height:800px;
	background-color:#AAAAAA;
	float:left;
}

#leftMenu,#leftMenu li{
	list-style:none;
	
}
#leftMenu{
	margin-top:20px;
}



#leftMenu a{
	text-decoration:none;
	color:#000000;
}

#item_list{
	width:800px;
}

#item_list:nth-child(2){
	border:1px solid black;
}

.item_image,.item_image img{
	width:200px;
	height:200px;
}


.item_price_table{
	width:50px;
}

.item_description{
	width:500px;
}

#content{
	width:800px;
	float:left;
}
footer{
	clear:both;
}
