a:link {
	text-decoration: underline;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:active {
	text-decoration: none
}
a:hover {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	background-color: #3377AA;
}

header {
	background-color: #767676;
	text-align: center;
}

#topMenu {
}

table {
}

#page {
	width: 90%;
	margin-left: 5%;
	margin-top: 15px;
	background-color: #DDDDDD;
	border: solid black 1px;
	border-radius: 3px;
}

#categoryTable {
	margin-left: auto;
	margin-right: auto;
	width: 10em;
}

#category {
	text-align: center;
}

.edit, .delete {
	width: 22%;
}

